---
title: A test blog post
author: Dr. Fabuloso the Fabulous
slug: test-post
layout: blog
tag: Organizing
darken_image: true
image: https://images.unsplash.com/photo-1761839257287-3030c9300ece?ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070
description: In this post, I’ll show how easy it is to integrate markdown in SvelteKit with `mdsvex`.
author_avatar: https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80

---

This is my first blog post created with **mdsvex** and **SvelteKit**

## Introduction

 Here's a simple list of cool things we can do:

- Markdown inside `.svx` files
- Tailwind CSS for styling
- SvelteKit for routing and SSR
- And much more!


Guide with Localhost
====================

* * *

*   Created by Django Merope on 11/19/2025
*   [Edit original on dubble](https://dubble.so/guides/guide-with-localhost-ktoaiv3jg59kful7l2jk)

* * *

<video controls=""><source src="https://dubble.so/media/video/bab15316-c4e5-4ed6-91ac-c6cf3c9c2cd6" type="video/mp4"></video>

### [1\. Go to Belcoda](http://localhost:5173/about)

![](https://dubble-prod-01.s3.amazonaws.com/assets/66f20d91-ab15-4508-a3e4-d91567817219.png?0)

### [2\. Click on See all →](http://localhost:5173/about)

![](https://d3q7ie80jbiqey.cloudfront.net/media/image/zoom/52224b55-5772-4e7b-a969-be0b50242fe2/2.5/64.825414997138/45.400943396226?0)

### [3\. Click on Organizing](http://localhost:5173/blog)

![](https://d3q7ie80jbiqey.cloudfront.net/media/image/zoom/4a03a580-8345-4800-b943-eff108372142/2.5/48.310496565541/77.653301886792?0)

### [4\. Click on Blog](http://localhost:5173/blog/tag/organizing)

![](https://d3q7ie80jbiqey.cloudfront.net/media/image/zoom/a8f5378f-6a97-4afa-b53a-0e79fa322ede/2.5/18.889524899828/61.497641509434?0)